body {
  overflow: hidden;
}
textarea {
  position: absolute;
  display: block;
  width: 100%; height: 100%;
  font: 40px/64px 'Open Sans', sans-serif;
  overflow: auto;
}
#keyboard {
  cursor: pointer;
}
