html {
  font-family: sans-serif;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* WebKit requires flex=1 to be explicitly declared,
   as opposed to standard flexbox behavior */
.keyboard-key {
  -webkit-flex: 1 1 0px;
}

.suggestions-container > * {
  -webkit-flex: 1 1 0px;
}
