html {
  font-family: sans-serif;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* WebKit requires flex=1 to be explicitly declared,
   as opposed to standard flexbox behavior */
.keyboard-key {
  -webkit-flex: 1 1 0px;
}

.suggestions-container > * {
  -webkit-flex: 1 1 0px;
}

/* No CSS variable :'( */

.keyboard-key > .visual-wrapper {
  height: 4.5rem;
}

.keyboard-key > .visual-wrapper > .key-element {
  line-height: 4.5rem;
}

.rows-5 .keyboard-key > .visual-wrapper {
  height: 3.4rem;
}

.rows-5 .keyboard-key > .visual-wrapper > .key-element {
  line-height: 3.4rem;
}

.landscape .keyboard-key > .visual-wrapper {
  height: 3.8rem;
}

.landscape .keyboard-key > .visual-wrapper > .key-element {
  line-height: 3.8rem;
}

.landscape .rows-5 .keyboard-key > .visual-wrapper {
  height: 2.85rem;
}

.landscape .rows-5 .keyboard-key > .visual-wrapper > .key-element {
  line-height: 2.85rem;
}
